APP_ENV=prod

# Application secret used by Symfony for encrypting cookies and generating CSRF tokens.
#  32-character hexadecimal string that can be generated using 'openssl rand -hex 16'
APP_SECRET=${APP_SECRET}

# Web DB URL
DATABASE_URL="mysql://${MYSQL_WEB_USER}:${MYSQL_WEB_PASSWORD}@mysql-web:3306/openroaming?serverVersion=8&charset=utf8mb4"

# RADIUS DB URL
DATABASE_FREERADIUS_URL="mysql://${MYSQL_RADIUS_USER}:${MYSQL_RADIUS_PASSWORD}@mysql-radius:3306/radius?serverVersion=8&charset=utf8mb4"

# Symfony Messenger Transport
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# Symfony Mailer DSN
MAILER_DSN=smtp://${MAIL_SERVER_USER}:${MAIL_SERVER_PASSWORD}@${MAIL_SERVER_HOSTNAME}:${MAIL_SERVER_PORT}?encryption=tls&auth_mode=login

# Email Options
EMAIL_ADDRESS=${MAIL_SERVER_USER}
SENDER_NAME=${SENDER_NAME}

# SAML
SAML_IDP_ENTITY_ID=http://${HOSTNAME}/saml/metadata
SAML_IDP_SSO_URL=https://id.example.com/saml2/idp/SSOService.php
SAML_IDP_X509_CERT=MIIC...
SAML_SP_ENTITY_ID=https://${HOSTNAME}/saml/metadata
SAML_SP_ACS_URL=https://${HOSTNAME}/saml/acs

# Load Balancing
TRUSTED_PROXIES=192.0.0.1,10.0.0.0/8
SENTRY_DSN=

# Google Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Microsoft Authentication
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Budget SMS API URL
BUDGETSMS_API_URL=https://api.budgetsms.net/sendsms/

# Enable Export Operation from the admin page
EXPORT_USERS=OFF

# Enable Export Operation from the admin page
EXPORT_FREERADIUS_STATISTICS=OFF

# pixelopen/cloudflare-turnstile-bundle
TURNSTILE_KEY=
TURNSTILE_SECRET=

# Enable Delete Users Operation from the admin page
ENABLE_DELETE_USERS_UI=OFF

# nelmio/cors-bundle
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$' # This is required to let the project know which domain is able to use the API.
# For example, this configuration specifies that only when the project is being run on the URL (127.0.0.1 || localhost), it will return data from the endpoint paths, such as the Swagger UI interface.

# lexik/jwt-authentication-bundle
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=

# Metrics
METRICS_ENABLED=false
METRICS_ALLOWED_IPS=0.0.0.0/0

# MySQL Web Settings
MYSQL_WEB_ROOT_PASSWORD=${MYSQL_WEB_ROOT_PASSWORD}
MYSQL_WEB_USER=${MYSQL_WEB_USER}
MYSQL_WEB_PASSWORD=${MYSQL_WEB_PASSWORD}

# MySQL FreeRADIUS Settings
MYSQL_RADIUS_ROOT_PASSWORD=${MYSQL_RADIUS_ROOT_PASSWORD}
MYSQL_RADIUS_USER=${MYSQL_RADIUS_USER}
MYSQL_RADIUS_PASSWORD=${MYSQL_RADIUS_PASSWORD}

# FreeRADIUS Shared Secret
RADIUS_SECRET=${RADIUS_SECRET}

# Web portal and RADIUS Server hostname
HOSTNAME=${HOSTNAME}